### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# JIRA plugin
atlassian-ide-plugin.xml

### Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ignore eclipse files
.project
.classpath
.settings

.metadata
.recommenders
RemoteSystemsTempFiles

